body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.instructions .container h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #479DDF;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.fc-toolbar {
  background-color: #479DDF;
  text-decoration-color: white;
}

.list-items {
  display: flex;
  justify-content: center;
  color: black;
}

.md-toolbar-tools {
  display: flex;
  justify-content: center;
  color: black;

}

.md-button.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-style: solid;
    border-width: 1px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #111;
}

md-list .md-list-item-text.selected {
  color: grey;
}

.numbers {
  color: #479DDF;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}

#cash {
  font-size: 18px;
  background-color: grey;
}


