<div ng-include="'views/partials/nav.html'"></div>

<div class="container">


    <div class="md-padding" layout-gt-sm="row">

        <div flex = "50" ui-calendar="uc.uiConfig.calendar" ng-model="uc.eventSources">
            Calendar populates once items are added
        </div>

        <div flex="50" layout = "column">
            <md-toolbar flex="20">
                <div class="md-toolbar-tools" >
                    <span>Monthly Cash Flow Summary</span>
                </div>
            </md-toolbar>


            <md-card >
                <div class=" md-toolbar-tools" layout="row">
                    <md-card-content>
                        <u>Total Cash Made :</u> {{uc.mathObject.total}}</md-card-content>
                    <md-card-content>
                        <u>Total Monthly Income :</u> {{uc.mathObject.incomeTotal}}</md-card-content>
                    <md-card-content>
                        <u>Total Monthly Expenditures :</u> {{uc.mathObject.expTotal}}</md-card-content>
                </div>
            </md-card>

        </div>
    </div>
    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
</div>