<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <!-- <h1 id="welcome" class="lead">
        <u>Cash Flow Summary For {{uc.userObject.userName}}</u>
    </h1> -->

    <div ng-controller="MaterialController as mc" class="md-padding">
        <div layout="row" layout-align="column">

            <div flex class="first-box" ui-calendar ng-model="uc.eventSources">
                Calendar populates once items are added
            </div>
            <div flex class="second-box">
                <!-- <div ng-cloak layout-gt-md="row"> -->
                <div flex>

                    <md-toolbar layout="row" class="md-hue-8">
                        <div class="md-toolbar-tools">
                            <span>Monthly Cash Flow Summary</span>
                        </div>
                    </md-toolbar>

                    <md-content>
                        <md-list class="md-dense list-items" flex>
                            <!-- <md-list-item class="md-3-line" ng-repeat="income in ic.transactionArray.list| filter: 'income'"> -->
                            <div class="md-list-item-text" layout="column">
                                <md-list-item>
                                    <u>Total Cash Made : </u>  {{uc.mathObject.total}}</md-list-item>
                                <md-list-item>
                                    <u>Total Monthly Income : </u>  {{uc.mathObject.incomeTotal}}</md-list-item>
                                <md-list-item>
                                    <u>Total Monthly Expenditures :</u>  {{uc.mathObject.expTotal}}</md-list-item>
                            </div>
                        </md-list>
                    </md-content>
                </div>
            </div>

        </div>
    </div>
    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>